<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.jake.insaniquarium.saver</string>
	<key>CFBundleName</key>
	<string>Insaniquarium</string>
	<key>CFBundleExecutable</key>
	<string>Insaniquarium</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>NSPrincipalClass</key>
	<string>InsaniquariumSaverView</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
</dict>
</plist>
